footer {
    background-color: #3c3c3c;
    border-top: 5px solid #bcbcbc;
    color: #bcbcbc;
    font-size: .9rem;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
}

.red-dot {
  height: 10px;
  width: 10px;
  background-color: rgb(220,53,69);
  border-radius: 50%;
  display: inline-block;
}