{% extends "dashboard/emails/alert_notification_base.html" %}

{% load i18n %}

{% block body %}

{% language "nl" %}
<p>U hebt <b>{{ alert.unseen_observations.count }}</b> niet bekeken waarneming(en) voor deze waarschuwing.</p>

<h3>Voorbeeld van niet bekeken waarnemingen</h3>
{# For user familiarity, make sure the structure of this table stay more or less in sync with the table show on the website pages #}
<table>
    <thead>
    <tr>
        <th>GBIF ID</th>
        <th>Lat</th>
        <th>Lon</th>
        <th>Datum</th>
        <th>Soort</th>
        <th>Dataset</th>
    </tr>
    </thead>
    <tbody>
    {% for observation in alert.unseen_observations_sample %}
        <tr>
            <td>
                <a href="

                        {{ site_base_url }}{% url "dashboard:pages:observation-details" stable_id=observation.stable_id %}">
                    {{ observation.gbif_id }}
                </a>
            </td>
            <td>{{ observation.lat|floatformat:4 }}</td>
            <td>{{ observation.lon|floatformat:4 }}</td>
            <td>{{ observation.date }}</td>
            <td>{{ observation.species.display_name_html|safe }}</td>
            <td>{{ observation.source_dataset.name }}</td>
        </tr>
    {% endfor %}

    {#  One more row so users understand it's only a sample... #}
    <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
    </tr>
    </tbody>
</table>

<p>Aarzel niet om het te bekijken op <a
        href="{{ site_base_url }}{% url "dashboard:pages:alert-details" alert_id=alert.pk %}">Waarschuwing pagina</a> voor meer waarnemingen en details</p>

<h3>Waarschuwing details</h3>
<ul>
    <li><b>Waarschuwing naam:</b> {{ alert.name }}</li>
    <li><b>Soort:</b> {{ alert.species_list|default:"alle soorten" }}</li>
    <li><b>Gebied:</b> {{ alert.areas_list|default:"alle gebieden" }}</li>
    <li><b>Datasets: </b> {{ alert.datasets_list|default:"alle datasets" }}</li>
    <li>
        <b>Frequentie email notificaties:</b>
        {{ alert.get_email_notifications_frequency_display }}</li>
</ul>

<p>
    Dank U,<br/>
    Het <a href="{{ site_base_url }}">{{ site_name }}</a> team
</p>

{% endlanguage %}
{% endblock body %}