{% extends "dashboard/emails/alert_notification_base.html" %}

{% load i18n %}

{% block body %}

{% language "en" %}
<p>You have <b>{{ alert.unseen_observations.count }}</b> unseen observation(s) for this alert.</p>

<h3>Sample of unseen observations</h3>
{# For user familiarity, make sure the structure of this table stay more or less in sync with the table show on the website pages #}
<table>
    <thead>
    <tr>
        <th>GBIF ID</th>
        <th>Lat</th>
        <th>Lon</th>
        <th>Date</th>
        <th>Species</th>
        <th>Dataset</th>
    </tr>
    </thead>
    <tbody>
    {% for observation in alert.unseen_observations_sample %}
        <tr>
            <td>
                <a href="

                        {{ site_base_url }}{% url "dashboard:pages:observation-details" stable_id=observation.stable_id %}">
                    {{ observation.gbif_id }}
                </a>
            </td>
            <td>{{ observation.lat|floatformat:4 }}</td>
            <td>{{ observation.lon|floatformat:4 }}</td>
            <td>{{ observation.date }}</td>
            <td>{{ observation.species.display_name_html|safe }}</td>
            <td>{{ observation.source_dataset.name }}</td>
        </tr>
    {% endfor %}

    {#  One more row so users understand it's only a sample... #}
    <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
    </tr>
    </tbody>
</table>

<p>Don't hesitate to check it out on the <a
        href="{{ site_base_url }}{% url "dashboard:pages:alert-details" alert_id=alert.pk %}">Alert page</a> for more
observations and details</p>

<h3>Alert details</h3>
<ul>
    <li><b>Alert name:</b> {{ alert.name }}</li>
    <li><b>Species:</b> {{ alert.species_list|default:"all" }}</li>
    <li><b>Areas:</b> {{ alert.areas_list|default:"all" }}</li>
    <li><b>Datasets: </b> {{ alert.datasets_list|default:"all" }}</li>
    <li>
        <b>Email notifications frequency:</b>
        {{ alert.get_email_notifications_frequency_display }}</li>
</ul>

<p>
    Thanks,<br/>
    The <a href="{{ site_base_url }}">{{ site_name }}</a> team
</p>

{% endlanguage %}
{% endblock body %}