{% load i18n %}

<div class="card my-2">
    <div class="card-body">
        <h4 class="card-title gbif-alert-alert-title" id="alert-{{ alert.pk }}-title">{{ alert.name }}</h4>
        <p class="card-text">
        <ul class="list-group list-group-flush">
            {% translate "all" as all_translated %}
            <li class="list-group-item" id="gbif-alert-alert-species-list">
                <b>{% translate "Species:" %} </b>
                {% for species in alert.species.all %}
                    {{ species.display_name_html|safe }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </li>
            <li class="list-group-item">
                <b>{% translate "Areas:" %}</b> {{ alert.areas_list|default:all_translated }}
            </li>
            <li class="list-group-item" id="gbif-alert-alert-datasets-list">
                <b>{% translate "Datasets:" %}</b> {{ alert.datasets_list|default:all_translated }}
            </li>
            <li class="list-group-item" id="gbif-alert-alert-frequency">
                <b>{% translate "Email notifications frequency:" %}</b>
                {{ alert.get_email_notifications_frequency_display }}

                <span class="text-muted small">
                    -- {% translate "Last email sent:" %}
                    {% trans "never" as never_translated %}
                    {{ alert.last_email_sent_on|default_if_none:never_translated }}
                </span>
            </li>
        </ul>

        <div id="alert-buttons">
            {% if show_details_buttons %}
                <a href="{% url 'dashboard:pages:alert-details' alert_id=alert.id %}"
                   class="btn btn-sm btn-primary position-relative">
                    <i class="bi bi-clipboard-data-fill"></i> {% translate "Matching observations" %}

                    {% if alert.unseen_observations.count > 0 %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{ alert.unseen_observations.count }} {% translate "unseen" %}
                        </span>
                    {% endif %}
                </a>
            {% endif %}

            <div class="float-end">
                <a href="{% url 'dashboard:pages:alert-edit' alert_id=alert.id %}"
                   class="btn btn-sm btn-warning mx-2 gbif-alert-edit-alert-button">
                    <i class="bi bi-pencil-fill"></i> {% translate "Edit this alert" %}
                </a>

                <delete-alert-button button-id="gbif-alert-delete-alert-button-{{ alert.pk }}"
                                     form-action="{% url "dashboard:actions:delete-alert" %}">
                    {% csrf_token %}
                    <input type="hidden" name="alert_id" value="{{ alert.pk }}"/>
                </delete-alert-button>
            </div>

        </div>


        {% if show_link_alerts_list %}
            <a class="btn btn-sm btn-primary" href="{% url "dashboard:pages:my-alerts" %}">
                <i class="bi bi-exclamation-square"></i> {% translate "Show all my alerts" %}
            </a>
        {% endif %}
    </div>
</div>