{% load humanize %}
{% load pterois_extras %}

<div class="card my-2">
    <h5 class="card-header" id="data-import-{{ data_import.pk }}">Data import: #{{ data_import.pk }}</h5>
    <div class="card-body">
        <dl>
            <dt>Time</dt>
            <dd>{{ data_import.start }} - {{ data_import.end }}</dd>
        </dl>

        <dl>
            <dt>Imported observations</dt>
            <dd>{{ data_import.imported_observations_counter|intcomma }}</dd>
        </dl>

        <dl>
            <dt>New observations in this import</dt>
            <dd><a href="{% dashboard_url_filtered_by_data_import data_import %}">{{ data_import.occurrences_initially_imported.count|intcomma }}</a></dd>
        </dl>

        <dl>
            <dt>Skipped observations in <a href="{{ data_import.gbif_download_id|gbif_download_url }}">GBIF download</a></dt>
            <dd>{{ data_import.skipped_observations_counter|intcomma }}</dd>
        </dl>

        <dl>
            <dt>GBIF predicate</dt>
            <dd><code>{{ data_import.gbif_predicate }}</code></dd>
        </dl>
    </div>
</div>

