{% load i18n %}
{% load page_fragments %}

<footer class="py-2">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                {% get_page_fragment 'footer_left_col' %}
            </div>
            <div class="col-lg">
                {% translate "Latest data import:" %} <a href="{% url 'dashboard:pages:about-data' %}">#{{ latest_data_import.pk }}</a>- {{ latest_data_import.start }}<br/>
                {% translate "Source code version:" %} <a href="https://github.com/riparias/early-alert-webapp/tree/{{ git_version_number }}">{{ git_version_number }}</a>
            </div>
        </div>
    </div>
</footer>
