<footer class="fixed-bottom py-2">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                Created by the <a href="https://oscibio.inbo.be/">Open science lab for biodiversity</a> for <a href="https://www.riparias.be/">LIFE RIPARIAS</a>.
            </div>
            <div class="col-lg">
                Latest data import: <a href="{% url "dashboard:pages:about" %}">#{{ latest_data_import.pk }}</a>- {{ latest_data_import.start }}<br/>
                Source code version: <a href="https://github.com/riparias/early-warning-webapp/tree/{{ git_version_number }}">{{ git_version_number }}</a>
            </div>
        </div>
    </div>
</footer>
