{% load i18n %}

<nav id="gbif-alert-main-navbar" class="navbar navbar-expand-lg mb-4 shadow {% if gbif_alert_settings.NAVBAR_LIGHT_TEXT %}navbar-dark{% endif %}" class="navbar-dark"style="background-color:{{ gbif_alert_settings.NAVBAR_BACKGROUND_COLOR }};">
    <div class="container-fluid">
        <a class="navbar-brand me-4" href="{% url 'dashboard:pages:index' %}"> {{ gbif_alert_settings.SITE_NAME }} <i class="bi bi-megaphone"></i> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                {% translate "Explore all observations" as explore_entry_label %}
                {% include "dashboard/_navbar_page_entry.html" with url_pattern='dashboard:pages:index' label=explore_entry_label icon_identifier='bi-map' %}

                {% translate "What's new" as news_entry_label %}
                {% include "dashboard/_navbar_page_entry.html" with url_pattern='dashboard:pages:news' label=news_entry_label icon_identifier='bi-boombox' show_dot=user.has_unseen_news dot_id="unseen-news-dot" %}

                {% if user.is_authenticated %}
                    {% translate "My alerts" as my_alerts_entry_label %}
                    {% include "dashboard/_navbar_page_entry.html" with url_pattern='dashboard:pages:my-alerts' label=my_alerts_entry_label icon_identifier='bi-exclamation-square' show_dot=user.has_alerts_with_unseen_observations dot_id="unseen-observations-dot"%}
                {% endif %}

                {% translate "About this site" as about_site_entry_label %}
                {% include "dashboard/_navbar_page_entry.html" with url_pattern='dashboard:pages:about-site' label=about_site_entry_label icon_identifier='bi-window' %}

                {% translate "About the data" as about_data_entry_label %}
                {% include "dashboard/_navbar_page_entry.html" with url_pattern='dashboard:pages:about-data' label=about_data_entry_label icon_identifier='bi-server' %}
            </ul>

            <ul class="navbar-nav ms-auto">
                {% include "dashboard/_language_selector.html" %}
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-square"></i> {{ user.username }}
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'dashboard:pages:profile' %}"><i class="bi bi-person-square"></i> {% translate "My profile" %}</a></li>
                            <li><a class="dropdown-item" href="{% url 'password_change' %}"><i class="bi bi-gear"></i> {% translate "Change my password" %}</a></li>
                            <li>
                                <a class="dropdown-item" href="{% url 'dashboard:pages:my-alerts' %}">
                                    <i class="bi bi-exclamation-square"></i> {% translate "My alerts" %}
                                    {% if user.has_alerts_with_unseen_observations %}
                                        <span class="align-baseline red-dot"></span>
                                    {% endif %}
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="{% url 'dashboard:pages:my-custom-areas' %}">
                                    <i class="bi bi-map"></i> {% translate "My user-specific areas" %}
                                </a>
                            </li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% if request.user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'admin:index' %}"><i class="bi bi-key"></i> {% translate "Admin panel" %}</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'signout' %}"><i class="bi bi-power"></i> {% translate "Sign out" %}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <a class="btn btn-dark btn-sm mx-1" href="{% url 'signin' %}"><i class="bi bi-lock-fill"></i> {% translate "Sign in" %}</a>
                    <a class="btn btn-dark btn-sm mx-1" href="{% url 'dashboard:pages:signup' %}"><i class="bi bi-person-plus-fill"></i> {% translate "Sign up" %}</a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
