<nav id="riparias-main-navbar" class="navbar navbar-expand-lg navbar-dark mb-3" style="background-color: #00a58d">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">LIFE RIPARIAS early alert</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                {% include "dashboard/_navbar_page_entry.html" with url_pattern='dashboard:page-index' label='Explore occurrences' %}
                {% include "dashboard/_navbar_page_entry.html" with url_pattern='dashboard:page-about' label='About' %}
            </ul>

            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle"></i> {{ user.username }}
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'dashboard:page-profile' %}"><i class="bi bi-person-circle"></i> My profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'dashboard:page-alerts' %}"><i class="bi bi-exclamation-square"></i> My alerts</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% if request.user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'admin:index' %}"><i class="bi bi-key"></i> Admin panel</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'signout' %}"><i class="bi bi-power"></i> Sign out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <a class="btn btn-dark btn-sm mx-1" href="{% url 'signin' %}"><i class="bi bi-lock-fill"></i> Sign in</a>
                    <a class="btn btn-dark btn-sm mx-1" href="{% url 'dashboard:page-signup' %}"><i class="bi bi-person-plus-fill"></i> Sign up</a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
