{% extends 'dashboard/base.html' %}

{% load i18n %}
{% load page_fragments %}

{% block page_title %}
    {% translate "About this site" as page_title %}
    {% include "dashboard/_page_title.html" with page_name=page_title %}
{% endblock %}

{% block after_messages %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 id="about-this-site">{% translate "About this site" %}</h1>
                {% get_page_fragment 'about_this_site_page_content' %}
            </div>
        </div>
    </div>
{% endblock %}