{% extends 'dashboard/base.html' %}

{% load static %}

{% block after_messages %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 id="about-the-data">About the data</h1>
                <h2 id="data-imports">Data imports</h2>
                <p>The data (observations) shown in this application is frequently and automatically refreshed from <a
                        href="https://www.gbif.org">GBIF</a>.</p>

                {% with data_imports|first as first_data_import %}
                    <p>The following data import was performed to populate the data currently visible in the
                        application:</p>
                    {% include 'dashboard/_data_import.html' with data_import=first_data_import only %}
                {% endwith %}

                {% if data_imports|length > 1 %}
                    <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#completeList">
                        Show complete list of data imports
                    </button>

                    <div class="collapse" id="completeList">
                        {% for data_import in data_imports %}
                            {% include 'dashboard/_data_import.html' with data_import=data_import only %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock after_messages %}