{% extends 'dashboard/base.html' %}

{% load i18n %}

{% block page_title %}
    {% translate "New alert" as page_title %}
    {% include "dashboard/_page_title.html" with page_name=page_title %}
{% endblock %}

{% block after_messages %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{% translate "Create a new alert" %}</h1>

                {% translate "Create" as button_label %}
                {% include "dashboard/_alert_form.html" with form=form button_label=button_label %}
            </div>
        </div>
    </div>
{% endblock %}