{% extends 'dashboard/base.html' %}

{% load static %}

{% block page_title %}{% include "dashboard/_page_title.html" with page_name="Alert details" %}{% endblock %}

{% block after_messages %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="app-alert-metadata">
                    {% include "dashboard/_alert.html" with alert=alert show_details_buttons=False show_link_alerts_list=True %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div id="app">
                    <script type="text/javascript">
                        const alertId = {{ alert.pk }};
                    </script>
                    <AlertDetailsPageRootComponent></AlertDetailsPageRootComponent>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            initAlertDetailsPage();
        });
    </script>
{% endblock %}