{% load static %}
{% load riparias_extras %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Body will be shown later to avoid flashing unstyled content, see https://stackoverflow.com/a/43823506 #}
    <style>
      html {
        display: none;
      }
    </style>

    {# A global configuration object is passed from Python via a custom template tag. This hack allows easy configuration of the frontend from Django #}
    <script type="text/javascript">
        const ripariasConfig = {% js_config_object %}
    </script>

    <title>
        {% block page_title %}RIPARIAS early alert{% endblock %}
    </title>
  </head>
  <body>
    {% if riparias_settings.SHOW_DEV_VERSION_WARNING %}
        {% include 'dashboard/_dev_version_warning.html' %}
    {% endif %}
    {% include "dashboard/_navbar.html" %}
    {% include "dashboard/_messages.html" %}

    {% block after_messages %}{% endblock %}

    {% include "dashboard/_footer.html" %}
    <script src="{% static 'js/early_alert-bundle.js' %}"></script>
    <link rel="stylesheet" href="{% static "css/show_body.css" %}">
  </body>
</html>