{% load riparias_extras %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">

    {# A global configuration object is passed from Python via a custom template tag. This hack allows easy configuration of the frontend from Django #}
    <script type="text/javascript">
        const ripariasConfig = {% js_config_object %}
    </script>

    <title>
        {% block page_title %}RIPARIAS early alert{% endblock %}
    </title>
  </head>
  <body>
    {% include "dashboard/_navbar.html" %}
    {% include "dashboard/_messages.html" %}

    {% block after_messages %}{% endblock %}

    {% include "dashboard/_footer.html" %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>