{% load static %}
{% load i18n %}
{% load gbif-alert_extras %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Body will be shown later to avoid flashing unstyled content, see https://stackoverflow.com/a/43823506 #}
    <style>
        html {
            display: none;
        }
    </style>

    {% include "dashboard/_favicon.html" %}

    <link rel="stylesheet" href="{% static "css/early_alert.css" %}">
    {# A global configuration object is passed from Python via a custom template tag. This hack allows easy configuration of the frontend from Django #}
    {% get_current_language as LANGUAGE_CODE %}
    <script type="text/javascript">
        const gbifAlertConfig = {% js_config_object %};
        window.CSRF_TOKEN = "{{ csrf_token }}";
        window.LANGUAGE_CODE = "{{ LANGUAGE_CODE }}";
    </script>

    <title>
        {% block page_title %}{{ gbif_alert_settings.SITE_NAME }}{% endblock %}
    </title>
</head>
<body>
<div style="margin-bottom: 100px;">
    {% if gbif_alert_settings.SHOW_DEV_VERSION_WARNING %}
        {% include 'dashboard/_dev_version_warning.html' %}
    {% endif %}
    {% include "dashboard/_navbar.html" %}
    {% include "dashboard/_messages.html" %}

    {% block after_messages %}{% endblock %}
</div>

{% include "dashboard/_footer.html" %}
<script src="{% static 'js/early_alert-bundle.js' %}"></script>
<link rel="stylesheet" href="{% static "css/show_body.css" %}">
</body>
</html>