{% extends 'dashboard/base.html' %}

{% load static %}

{% block after_navbar %}
<div class="container">
    <div class="row">
        <div class="col"><h1>Welcome!</h1></div>
    </div>
    <div class="row" id="app">
        <div class="col-3">
            <h4>Data filtering</h4>
            <Species-Selector :species="availableSpecies" @species-changed="changeSelectedSpecies"></Species-Selector>

            <h4>Map style</h4>
            <label for="mapBaseSelector" class="form-label">Base layer</label>
            <select id="mapBaseSelector" v-model="mapBaseLayer" class="form-select form-select-sm">
                <option v-for="l in availableMapBaseLayers" :value="l.value">[[ l.label ]]</option>
            </select>
        </div>

        <div class="col-9 overflow-auto">
            <Occurrences-Map :height="800"
                             :initial-zoom="8"
                             :initial-lat="50.5010"
                             :initial-lon="4.4764"
                             :tile-server-url-template="frontendConfig.apiEndpoints.tileServerUrlTemplate"
                             :min-max-url="frontendConfig.apiEndpoints.minMaxOccPerHexagonUrl"
                             :filters="filters"
                             :show-counters="true"
                             :base-layer-name="mapBaseLayer"
            ></Occurrences-Map>
        </div>
    </div>
</div>

<script src="{% static 'index-bundle.js' %}"></script>
{% endblock %}
