{% extends 'dashboard/base.html' %}

{% load i18n %}
{% load page_fragments %}

{% block page_title %}
    {% translate "What's new" as page_title %}
    {% include "dashboard/_page_title.html" with page_name=page_title %}
{% endblock %}

{% block after_messages %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 id="whats-new">{% translate "What's new" %}</h1>
                {% get_page_fragment pterois_news_page_fragment_id %}
            </div>
        </div>
    </div>
{% endblock %}