{% extends 'dashboard/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load riparias_extras %}

{% block after_messages %}
    <div class="container my-3">
        <div class="row">
            <div class="col-9">
                <h2>Observation of <i>{{ observation.species.name }}</i> on {{ observation.date }}</h2>
            </div>
            <div class="col-3 col-text-end">
                {% if user.is_superuser %}
                    <a class="btn btn-sm btn-danger" href="{{ observation.get_admin_url }}">Show observation in the
                        admin section</a>
                {% endif %}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                {% if user.is_authenticated and first_seen_by_user_timestamp %}
                    <small class="text-muted">You have first seen this observation on <span
                            id="observation-view-timestamp">{{ first_seen_by_user_timestamp }}</span></small>
                    <form class="d-inline-block" method="post"
                          action="{% url "dashboard:actions:mark-observation-as-unseen" %}">
                        {% csrf_token %}
                        <input type="hidden" id="observationId" name="observationId" value="{{ observation.pk }}">
                        <button type="submit" class="btn btn-warning btn-sm">Mark this observation as unseen</button>
                    </form>
                {% endif %}

                {% if origin_url %}
                    <a class="btn btn-secondary btn-sm" href="{{ origin_url }}">Go back to previous page</a>
                {% endif %}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <dl>
                    <dt>GBIF ID</dt>
                    <dd><a href="{{ observation.gbif_id|gbif_occurrence_url }}">{{ observation.gbif_id }}</a></dd>

                    <dt>Species</dt>
                    <dd><i>{{ observation.species.name }}</i></dd>

                    <dt>Individual count</dt>
                    <dd>{{ observation.individual_count }}</dd>

                    <dt>Source dataset</dt>
                    <dd>{{ observation.source_dataset.name }}</dd>

                    <dt>Basis of record</dt>
                    <dd>{{ observation.basis_of_record }}</dd>

                    <dt>Date</dt>
                    <dd>{{ observation.date }}</dd>

                    <dt>Recorded by</dt>
                    <dd>{{ observation.recorded_by }}</dd>

                    {% if observation.references %}
                        <dt>References</dt>
                        <dd>{{ observation.references|as_link_if_url }}</dd>
                    {% endif %}

                    <dt>First imported during</dt>
                    <dd>{{ observation.initial_data_import }}</dd>
                </dl>
            </div>
            <div class="col-md-6" id="app">
                <div class="card">
                    <div id="app" class="card-img-top">
                        <single-observation-map
                                :height="400"
                                :lat="{{ observation.lat }}"
                                :lon="{{ observation.lon }}"
                                :coordinates-uncertainty-in-meters="{{ observation.coordinate_uncertainty_in_meters|default_if_none:"undefined" }}">
                        </single-observation-map>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Location</h5>
                        <p class="card-text">
                            <dt>Coordinates</dt>
                        <dd>{{ observation.lon }}, {{ observation.lat }}</dd>

                        <dt>Coordinates uncertainty</dt>
                        <dd>
                            {% if observation.coordinate_uncertainty_in_meters %}
                                {{ observation.coordinate_uncertainty_in_meters|floatformat }}
                                meter{{ observation.coordinate_uncertainty_in_meters|pluralize }}<br>
                                <small><i class="bi bi-info-circle"></i> the <b>green circle</b> accurately represents
                                    the coordinates uncertainty</small>
                            {% else %}
                                unknown<br>
                                <small><i class="bi bi-info-circle"></i> represented as a 100m <b>red</b> circle</small>
                            {% endif %}
                        </dd>

                        <dt>Municipality</dt>
                        <dd>{{ observation.municipality|default:"unknown" }}</dd>

                        <dt>Locality</dt>
                        <dd>{{ observation.locality|default:"unknown" }}</dd>
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>User comments</h2>
                {% for comment in observation.sorted_comments_set.all %}
                    <div class="riparias-observation-comment">
                        <p class="small text-muted">by {{ comment.author.username }} on {{ comment.created_at }}</p>
                        <p>{{ comment.text }}</p>
                        <hr>
                    </div>
                {% empty %}
                    <p>No comments yet for this observation!</p>
                {% endfor %}

                {% if user.is_authenticated %}
                    <h3>New comment</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ new_comment_form|crispy }}
                        <button type="submit" class="btn btn-primary">Post</button>
                    </form>
                {% else %}
                    <p class="alert alert-info"><i class="bi bi-info-circle"></i> Please <a
                            href="{% url 'signin' %}?next={{ request.path }}">sign in</a> to be able to post comments.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            initObservationDetailsPage();
        });
    </script>
{% endblock after_messages %}