{% extends 'dashboard/base.html' %}
{% load static %}
{% load riparias_extras %}

{% block after_navbar %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Occurrence details</h2>
                <ul>
                    <li><b>GBIF Id: </b><a href="{{ occurrence.gbif_id|gbif_occurrence_url }}">{{ occurrence.gbif_id }}</a></li>
                    <li><b>Species: </b>{{ occurrence.species.name }}</li>
                    <li><b>Date: </b>{{ occurrence.date }}</li>
                    <li><b>Coordinates: </b> {{ occurrence.lonlat_4326_tuple }}</li>
                    <li>(More fields to come!)</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="{% static 'js/occurrence_details-bundle.js' %}"></script>
{% endblock %}