{% extends 'dashboard/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load riparias_extras %}

{% block after_messages %}
    <div class="container my-3">
        <div class="row">
            <div class="col">
                <h2>Occurrence details</h2>
                {% if user.is_superuser %}
                    <a class="btn btn-sm btn-danger" href="{{ occurrence.get_admin_url }}">See occurrence in the admin section</a>
                {% endif %}
            </div>

            {% if user.is_authenticated and first_view_by_user_timestamp %}
                <div class="col">
                    <small class="text-muted">You have first seen this occurrence on {{ first_view_by_user_timestamp }}</small>
                    <form method="post" action="{% url "dashboard:page-mark-occurrence-as-not-viewed" %}">
                        {% csrf_token %}
                        <input type="hidden" id="occurrenceId" name="occurrenceId" value="{{ occurrence.pk }}">
                        <button type="submit" class="btn btn-warning btn-sm">Mark as not viewed</button>
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col">
                <ul>
                    <li><b>GBIF Id: </b><a href="{{ occurrence.gbif_id|gbif_occurrence_url }}">{{ occurrence.gbif_id }}</a></li>
                    <li><b>Species: </b><i>{{ occurrence.species.name }}</i></li>
                    <li><b>Individual count: </b>{{ occurrence.individual_count }}</li>
                    <li><b>Source dataset: </b>{{ occurrence.source_dataset.name }}</li>
                    <li><b>Basis of record: </b>{{ occurrence.basis_of_record }}</li>
                    <li><b>Date: </b>{{ occurrence.date }}</li>
                    <li><b>Coordinates: </b> {{ occurrence.lonlat_4326_tuple }}</li>
                    <li><b>Coordinates uncertainty: </b> {{ occurrence.coordinate_uncertainty_in_meters }} meters</li>
                    <li><b>Municipality: </b> {{ occurrence.municipality }}</li>
                    <li><b>Locality: </b> {{ occurrence.locality }}</li>
                    <li><b>Recorded by: </b> {{ occurrence.recorded_by }}</li>
                </ul>
            </div>
            <div class="col" id="app">
                <single-occurrence-map :height="400" :lat="{{ occurrence.lat }}" :lon="{{ occurrence.lon }}"></single-occurrence-map>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>User comments</h2>
                {% if user.is_authenticated %}
                    <h3>New comment</h3>
                    <form method="post">
                    {% csrf_token %}
                    {{ new_comment_form|crispy }}
                    <button type="submit" class="btn btn-primary">Post</button>
                </form>
                {% else %}
                    <p class="alert alert-info"><i class="bi bi-info-circle"></i> Please <a href="{% url 'signin' %}?next={{ request.path }}">sign in</a> to be able to post comments.</p>
                {% endif %}

                {% for comment in occurrence.sorted_comments_set.all %}
                    <div class="riparias-occurrence-comment">
                        <p class="small text-muted">by {{ comment.author.username }} on {{ comment.created_at }}</p>
                        <p>{{ comment.text }}</p>
                        <hr>
                    </div>
                {% empty %}
                    <p>No comments yet for this occurrence!</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="{% static 'js/occurrence_details-bundle.js' %}"></script>
{% endblock after_messages %}