{% extends 'dashboard/base.html' %}
{% load static %}
{% load riparias_extras %}

{% block after_messages %}
    <div class="container my-3">
        <div class="row">
            <div class="col">
                <h2>Occurrence details</h2>
            </div>
            <div class="col">
                <button type="button" class="btn btn-warning">Mark as unread</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                    <li><b>GBIF Id: </b><a href="{{ occurrence.gbif_id|gbif_occurrence_url }}">{{ occurrence.gbif_id }}</a></li>
                    <li><b>Species: </b>{{ occurrence.species.name }}</li>
                    <li><b>Source dataset: </b>{{ occurrence.source_dataset.name }}</li>
                    <li><b>Date: </b>{{ occurrence.date }}</li>
                    <li><b>Coordinates: </b> {{ occurrence.lonlat_4326_tuple }}</li>
                    <li>(More fields to come!)</li>
                </ul>
            </div>
            <div class="col" id="app">
                <single-occurrence-map :height="400" :lat="{{ occurrence.lat }}" :lon="{{ occurrence.lon }}"></single-occurrence-map>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>User comments</h2>
                {% for comment in occurrence.sorted_comments_set.all %}
                    <p class="small text-muted">by {{ comment.author.username }} on {{ comment.created_at }}</p>
                    <p>{{ comment.text }}</p>
                    <hr>
                {% empty %}
                    <p>No comments yet for this occurrence!</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="{% static 'js/occurrence_details-bundle.js' %}"></script>
{% endblock after_messages %}