{% extends 'dashboard/base.html' %}
{% load i18n %}

{% block page_title %}
    {% translate "Password changed" as page_title %}
    {% include "dashboard/_page_title.html" with page_name=page_title %}
{% endblock %}

{% block after_messages %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{% translate "Your password was successfully changed." %}</h1>
                <p><a href="{% url "dashboard:pages:index" %}">{% translate "Go to index page" %}</a></p>
            </div>
        </div>
    </div>
{% endblock %}