{% extends "dashboard/base.html" %}

{% load i18n %}

{% block page_title %}
    {% translate "Instructions sent" as page_title %}
    {% include "dashboard/_page_title.html" with page_name=page_title %}
{% endblock %}

{% block after_messages %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{% translate "Check your inbox." %}</h1>
                <p>
                    {% translate "We've emailed you instructions for setting your password. You should receive the email shortly!" %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}