{% extends "dashboard/base.html" %}
{% load i18n %}

{% block page_title %}
    {% translate "Password reset complete" as page_title %}
    {% include "dashboard/_page_title.html" with page_name=page_title %}
{% endblock %}

{% block after_messages %}
    <div style="max-width: 480px; margin: 2rem auto; padding: 0 1rem;">
        <h1>{% translate "Password reset complete" %}</h1>
        <p>
            {% url 'signin' as signin_url %}
            {% blocktranslate %}
                Your new password has been set. You can now <a href="{{ signin_url }}">sign in</a>.
            {% endblocktranslate %}
        </p>
    </div>
{% endblock %}