{% extends "dashboard/base.html" %}

{% block page_title %}{% include "dashboard/_page_title.html" with page_name="Instructions sent" %}{% endblock %}

{% block after_messages %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Check your inbox.</h1>
                <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>

                <p><a href="{% url "dashboard:pages:index" %}">Go back to the index page.</a></p>
            </div>
        </div>
    </div>
{% endblock %}