{% extends "dashboard/base.html" %}

{% load i18n %}
{% load crispy_forms_filters %}

{% block page_title %}
    {% translate "Reset your password" as page_title %}
    {% include "dashboard/_page_title.html" with page_name=page_title %}
{% endblock %}

{% block after_messages %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% if validlink %}
                    <h1>{% translate "Set a new password!" %}</h1>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-primary btn-sm" value="Change my password">
                    </form>
                {% else %}
                    <p>
                        {% translate "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}