{% extends 'dashboard/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block page_title %}
    {% translate "Change my password" as page_title %}
    {% include "dashboard/_page_title.html" with page_name=page_title %}
{% endblock %}

{% block after_messages %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{% translate "Change my password" %}</h1>

                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-primary btn-sm" value="{% translate "Change password" %}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}