{% extends 'dashboard/base.html' %}

{% load i18n %}
{% load crispy_forms_filters %}

{% block page_title %}
    {% translate "Forgot your password?" as page_title %}
    {% include "dashboard/_page_title.html" with page_name=page_title %}
{% endblock %}

{% block after_messages %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{% translate "Forgot your password?" %}</h1>
                <p>{% translate "Enter your email address below, and we'll email instructions for setting a new one." %}</p>

                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" id="gbif-alert-send-me-instructions-button" class="btn btn-primary btn-sm" value="{% translate "Send me instructions!" %}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}