{% extends "dashboard/base.html" %}

{% block page_title %}Sign in - RIPARIAS early alert{% endblock %}

{% block after_messages %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Sign in</h1>
                {% if form.errors %}
                    <div id="pterois-invalid-credentials-message" class="alert alert-danger">Your username and password didn't match. Please try again.</div>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                            please sign in with an account that has access.</p>
                    {% else %}
                        <p>Please sign in to see this page.</p>
                    {% endif %}
                {% endif %}

                <form method="post" action="{% url 'signin' %}">
                    {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label" for="id_username">Username:</label>
                            <input type="text" class="form-control" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="id_password">Password:</label>
                            <input type="password" class="form-control" name="password" autocomplete="current-password" required id="id_password">
                        </div>

                    <button id="pterois-signin-button" type="submit" class="btn btn-primary btn-sm" value="signin">Sign in</button>
                    - <a href="{% url 'password_reset' %}">Lost password?</a>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}