{% extends 'dashboard/base.html' %}
{% load gbif-alert_extras %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block page_title %}
    {% translate "My areas" as page_title %}
    {% include "dashboard/_page_title.html" with page_name=page_title %}
{% endblock %}

{% block after_messages %}
    <script type="text/javascript">
        window.gbifAlertConfig = gbifAlertConfig;
    </script>

    <div class="container">
        <div class="row">
            <div id="vue-app" class="col">
                <h1>{% translate "My user-specific areas" %}</h1>

                <h2>{% translate "Upload a new area" %}</h2>

                <div class="alert alert-info" role="alert">

                    {% blocktranslate %}
                    <p><i class="bi bi-info-square"></i> The following contraints apply to the uploaded file:</p>
                    <ul>
                        <li>it must be a <b><a href="https://en.wikipedia.org/wiki/GeoPackage">GeoPackage</a></b> (many external tools exist to convert other file formats to GeoPackages)</li>
                        <li>it must contain a <b>single layer</b></li>
                        <li>the layer must contain a <b>single feature</b> of type <b>polygon</b> or <b>multipolygon</b></li>
                        <li>the GeoPackage must have a valid coordinate reference system</li>
                    </ul>
                    {% endblocktranslate %}
                </div>

                <form method="post" enctype="multipart/form-data" class="mx-5 mb-3">
                    {% csrf_token %}
                    {{ new_custom_area_form|crispy }}
                    <input class="btn btn-primary btn-sm" type="submit" value="{% translate "Save" %}"
                           id="gbif-alert-area-save-btn">
                </form>

                <h2>
                    {% blocktranslate count counter=user.area_set.count %}
                    {{ counter }} user-specific area
                    {% plural %}
                    {{ counter }} user-specific areas
                    {% endblocktranslate %}
                </h2>
                <User-areas-page-root-component :area-ids="{{ user_areas_ids|safe }}"></User-areas-page-root-component>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            initUserAreasPage();
        });
    </script>
{% endblock %}