{% extends 'dashboard/base.html' %}

{% block page_title %}{% include "dashboard/_page_title.html" with page_name="My alerts" %}{% endblock %}

{% block after_messages %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>My alerts</h1>
            </div>

            <div class="col text-end">
                <a href="{% url 'dashboard:pages:alert-create' %}" class="btn btn-success btn-sm"><i class="bi bi-plus-circle-fill"></i> Create a new alert</a>
            </div>
        </div>

        <div class="row">
            <div id="app" class="col">
               {% for alert in alerts %}
                    {% include "dashboard/_alert.html" with alert=alert show_details_buttons=True %}
                {% empty %}
                    You currently don't have any configured alerts.
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            initUserAlertsPage();
        });
    </script>
{% endblock after_messages %}