{% extends 'dashboard/base.html' %}

{% block page_title %}My alerts - LIFE RIPARIAS early alert{% endblock %}

{% block after_messages %}
    <div class="container">
        <div class="row">
            <div class="col text-end">
                <a href="{% url 'dashboard:pages:alert-create' %}" class="btn btn-success"><i class="bi bi-plus-circle-fill"></i> Create a new alert</a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1>My alerts</h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
               {% for alert in alerts %}
                    {% include "dashboard/_alert.html" with alert=alert only %}
                {% empty %}
                    You currently don't have any configured alerts.
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock after_messages %}