{% extends 'dashboard/base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}
    {% translate "My profile" as page_title %}
    {% include "dashboard/_page_title.html" with page_name=page_title %}
{% endblock %}

{% block after_messages %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{% translate "My profile" %}</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button id="pterois-profile-save-button" type="submit" class="btn btn-primary btn-sm">{% translate "Save" %}</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div id="app">
                    <delete-account-button button-id="pterois-profile-delete-account-button"  form-action="{% url "dashboard:actions:delete-own-account" %}">
                        {% csrf_token %}
                    </delete-account-button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            initUserProfilePage();
        });
    </script>

{% endblock %}