{% extends "dashboard/base.html" %}

{% block page_title %}Log in - RIPARIAS early alert{% endblock %}

{% block after_navbar %}
    <div class="container my-3">
        <div class="row">
            <div class="col">

                {% if form.errors %}
                    <div id="riparias-invalid-credentials-message" class="alert alert-danger">Your username and password didn't match. Please try again.</div>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.</p>
                    {% else %}
                        <p>Please login to see this page.</p>
                    {% endif %}
                {% endif %}

                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label" for="id_username">Username:</label>
                            <input type="text" class="form-control" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="id_password">Password:</label>
                            <input type="password" class="form-control" name="password" autocomplete="current-password" required id="id_password">
                        </div>


                    <button id="riparias-login-button" type="submit" class="btn btn-primary" value="login">Log in</button>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>

                {# Assumes you setup the password_reset view in your URLconf #}
                <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
            </div>
        </div>
    </div>
{% endblock %}